html {
  font-family: 'Josefin Sans', sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

/*sets dimension of image on coverpage*/
img {
  height:400px;
  width: 1200px;
}

h1 {
  color: black;
  font-size: 20px;
  text-align: left;
  float: left;
  padding-right: 15px;
}

h2 {
  color: black;
  font-size: 30px;
  text-align: left;
  float: left;
}

h3 {
  color: black;
  font-size: 30px;
  text-align: center;
}

h4 {
  color: black;
  font-size: 15px;
  text-align: left;
  float: right;
  margin-top: 17px;
  margin-left: 10px;
}

button {
  margin-top: 15px;
  margin-left: 15px;
  font-size: 10px;
  float: right;
}

a {
  color: rgb(100, 100, 100);
}


p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  text-align: left;
  width: 600px;
}

/*body {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Yantramanav', sans-serif;
  color: red;
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
  text-shadow: 3px 3px 1px black;
}*/
